@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.main__section {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.mission-photos__section {
  @include desktop {
    width: 100%;
  }
}

.mission {
  &__section {
    padding: $margin-mobile;

    @include tablet {
      padding: $margin-tablet $margin-tablet 3rem $margin-tablet;
    }

    @include desktop {
      padding: 3rem 2.5rem;
    }
  }

  &__title {
    font-size: 0.75rem;
    margin-bottom: $margin-mobile;

    @include tablet {
      font-size: 1.4rem;
      margin: $margin-tablet 0;
    }
  }
  &__text {
    font-family: $font-sub;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    line-height: 60px;
    width: 70%;

    @include tablet {
      font-size: 2.35rem;
      line-height: 4rem;
    }

    @include desktop {
      font-size: 3.2rem;
      width: 44rem;
      line-height: 4rem;
    }

    &--changing {
      font-size: 2.5rem;
      opacity: 0;
      animation: fadeInInterval 2s ease-in-out infinite;

      @keyframes fadeInInterval {
        0% {
          opacity: 0%;
        }
        80% {
          opacity: 100%;
        }
      }
    }
  }
}

.logo {
  font-family: "LibreBodoni";
  color: #262626;
}

.background-photo {
  background-image: url("../../assets/images/sky-background.jpg");
  height: 500px;
  border-radius: 9.375rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: inset 1px 1px 10px -1px rgba(0, 0, 0, 0.3);
}
