@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notFound {
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    text-align: center;
    font-family: $font-sub;
    font-size: 2rem;
    line-height: 4rem;
    margin: 0 2rem;

    @include tablet {
      font-size: 3rem;
      line-height: 5rem;
    }
  }
}
