@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.photo {
  &__container-all {
    display: flex;
    flex-direction: column;
    padding: $margin-mobile;
    background-color: $primary-grey;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 1rem;
    }

    @include desktop {
      margin: 1.2rem;
    }
  }
}
