// RESPONSIVE SCREEN SIZES
$tablet__min-breakpoint: 768px;
$tablet__max-breakpoint: 1279px;
$desktop__min-breakpoint: 1280px;

// FONT FAMILY
$font-main: 'Newsreader';
$font-sub: 'Outfit';

// COLOR VARIABLES
$primary-black: #0C1E1A;
$primary-green: #1E6655;
$primary-pistachio: #EFFAF7;

$secondary-green: #B7CEC9;
$secondary-sage: #E4EFEC;
$secondary-white: #FFFFFF;

// STANDARD PAGE LAYOUT & MARGINS
$margin-mobile: 1rem;
$margin-tablet: 1.5rem;
$margin-desktop: auto;

$column-mobile: auto;
$column-tablet: $column-mobile;
$column-desktop: 5rem;

$gap-mobile: 1rem;
$gap-tablet: 1.5rem;
$gap-desktop: 1.5rem; 

// STANDARD ELEMENT PADDING
$padding-element-mobile: .5rem;
$margin-primary-nav: 1.5rem;
$margin-section: 3rem;

// BORDER RADIUS
$border-radius: 8px;

// STANDARD TEXT
$headingSize-tablet-desktop: 1.5rem;