@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-loved {
  &__container {
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url("../../assets/images/sky-background.jpg");

    border-radius: $border-radius;
    height: 14rem;
    width: 17rem;
    margin: auto;
  }
}

.form {
  &__loved-one {
    display: flex;
    flex-direction: column;
  }

  &__login {
    width: 10rem;
  }

  &__input {
    &--email {
      border-radius: calc($border-radius * 4);
    }
  }
}

.background-photo {
  &--logged {
    width: 92%;
    margin: auto;
  }
}

.loved-list {
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.75rem 0 6rem 0;
    margin: 4rem auto 15rem auto;
    max-width: 80%;
    border-radius: calc($border-radius * 16);
  }

  &__list {
    width: 100%;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__loved-one {
    @include text-container;

    &--add {
      padding: 0.2rem;
      width: 2rem;
      height: 2rem;
    }
  }
  &__form {
    width: 100%;
  }

  &__button {
    @include text-container;
    margin-bottom: 0;
    width: 100%;
    color: white;
    border: none;

    &::placeholder {
      color: #bbbbbb;
    }

    &:active {
      color: white;
    }
  }
}

.options__selection {
  &--logged {
    padding: 1rem 0;
  }
}
